.animate-slide-up {
  animation-name: slide-up;
  animation-duration: 200ms;
  animation-fill-mode: both;
  transition-timing-function: ease-in-out;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(16px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}